header{
    text-align: center;
}

.login_senha{
    text-align: left;
}

input{
    width: 300px;
    margin-right: 100px;
}

.matricula_Pa{
    width: 206px;
}

.nome_Pa{
    width: 350px;
}

header{
    padding-top: 5px;
    text-align: center;
    background-color: cornflowerblue;
    height: 30px;
    margin-bottom: 5px;
}

footer{
    padding-top: 5px;
    text-align: center;
    background-color: cornflowerblue;
    height: 30px;
}