/* Abaixo segue como zerar margin. paddin*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* A linha abaixo é temporária e serve para ter uma noção de que o formulário não está seguindo a regra. */
/* header{
    text-align: center;
} */

/*
Abaixo foi feito uma tentativa de deixar o formulário com 100% de VW para tentar deixar tanto o label como o input um ao lado do outro quando visualizado

form{
    width: 100vw;
    display: inline-block;
    }
 */

 /* Descobri onde estava o problema de não mostrar o input e label um ao lado do outro,
  o problema estava dentro do IF do JS que estava para mostrar como BLOCK, e não como INLINE   */
  
.colabo:hover, .btnFazerlogin:hover{
    background-color: cadetblue;
    cursor: pointer;
    color: white;
    transition: 0.3s;
}

.colabo {
    padding: 3px;
}

button{
    border-radius: 5px;
    border-color: white;
}

#login_apa_desa, #senha_apa_desa, #btn_apa_desa{
    text-align: left;
    display: none /* Deixar invisível */
}

fieldset{
    padding-left: 1px;
    display: block;
}

label{
    margin-right: 5px;
    margin-left: 5px;
    height: 22px;    
}

input{
    margin-bottom: 10px;
    margin-top: 3px;
    margin-right: 5px;
    width: 300px;
    border: 1px solid grey;
    height: 22px;
}

.btnFazerlogin{
    margin-bottom: 10px;
    margin-top: 5px;
    margin-right: 5px;
    width: 50px;
    height: 24px;
    background-color: rgb(174, 191, 236);
    padding-left: 2px;
    cursor: pointer;
}

footer{
    padding-top: 5px;
    text-align: center;
    background-color: cornflowerblue;
    height: 30px;
}