/* Sobre unidade de medidas:
    -- "em" sua unidade é sempre baseado no FONT-ZISE do elemento PAI, aumentou o FONT-ZISE, o "em" aumento propocionamente
    -- "rem" é baseado no primeiro elemento da estrutura, ou seja, caso deixe FONT-SIZE dentro do HMTL (no css), o testante da páginatem essa   meidca para padrão e consequentemente responsível - o "R" do "rem" significa ROOT.
    -- "portentagem - %" tem o mesmo principio do elemento PAI.
    -- "ex" é baseado na altura da letra "X" do tipo de FONTE que está sendo usando.
    -- "ch" usado para FONTE MONO SPACE.
    -- "vh - vw" - viewport height - viewport width são baseados em toda área visivel, a qual o usuário pra ver e usar.
    -- "inherit" - herde a força a propriedade do item acima.  
 */
header{
    text-align: center;
}

:root {
    --cor-principal: rgba(15, 84, 211, 0.034);
    --cor-secundaria: rgb(57, 104, 104);
    --cor-titulo-paragrafo-inicial: rgb(135, 201, 201);
    --cor-de-fundo-cabeçario-rodape: rgb(194, 206, 228);
}
/* Dica importante, procure sempre acessar os elementos em ordem de hierarquia como está sendo feito no nos elementos dentro do NAV*/

.paragrafo_inicial{
    text-align: center;
    background-color: var(--cor-titulo-paragrafo-inicial);
    color: black;
    height: 30px;
    /* padding-top: 10px; */
    width: 50vw;
    margin-left: 25vw;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10px;
}

nav{
    /* Abaixo Passo 2 - Aumentar o width de 350px maximo para 100VW*/
    /* max-width: 100vw; */
    width: 100%;
    background-color: rgb(129, 166, 180);
}

    /* Abaixo está sendo iniciada a tentativa de fazer o menu em linha - Passo 1 */
nav li{
    display: inline-block;
    /* Abaixo Passo 4 e 5 - aumentar o tamanho da largura do menu - centralizar o texto  */
    width: 266.5px;
    text-align: center;
}

nav ul{
    list-style-type: none;
    padding: 0;
}

nav ul li{
    border-bottom: 1px solid var(--cor-secundaria)
}

nav ul li a{
    text-decoration: none;
    color: white;
    padding: 10px;
    display: block;
    background-color: var(--cor-principal);
    transition: background .300s;
    text-transform: uppercase;
}

nav ul li a:hover{
    background-color: var(--cor-secundaria);
    color: rgba(226, 230, 235, 0.589);
}

header{
    padding-top: 5px;
    text-align: center;
    background-color: var(--cor-de-fundo-cabeçario-rodape);
    height: 30px;
    margin-bottom: 5px;
}

footer{
    padding-top: 5px;
    text-align: center;
    background-color: var(--cor-de-fundo-cabeçario-rodape);
    height: 30px;
}

@media (max-width:1080px){
    nav li{
        display: inline-block;
        /* Abaixo Passo 4 e 5 - aumentar o tamanho da largura do menu - centralizar o texto  */
        width: 209px;
        text-align: center;
    }
    
    .nome_Pa{
        width: 250px;
    }
}

@media (orientation: landscape){
    nav li{
        display: inline-block;
        /* Abaixo Passo 4 e 5 - aumentar o tamanho da largura do menu - centralizar o texto  */
        width: 236px;
        text-align: center;
    }
}