/* Sobre unidade de medidas:
    -- "em" sua unidade é sempre baseado no FONT-ZISE do elemento PAI, aumentou o FONT-ZISE, o "em" aumento propocionamente
    -- "rem" é baseado no primeiro elemento da estrutura, ou seja, caso deixe FONT-SIZE dentro do HMTL (no css), o testante da páginatem essa   meidca para padrão e consequentemente responsível - o "R" do "rem" significa ROOT.
    -- "portentagem - %" tem o mesmo principio do elemento PAI.
    -- "ex" é baseado na altura da letra "X" do tipo de FONTE que está sendo usando.
    -- "ch" usado para FONTE MONO SPACE.
    -- "vh - vw" - viewport height - viewport width são baseados em toda área visivel, a qual o usuário pra ver e usar.
    -- "inherit" - herde a força a propriedade do item acima.  
 */
 header{
    text-align: center;
}

 :root {
    --cor-principal: rgba(15, 84, 211, 0.034);
    --cor-secundaria: rgb(57, 104, 104);
}
/* Dica importante, procure sempre acessar os elementos em ordem de hierarquia como está sendo feito no nos elementos dentro do NAV*/
nav{
    max-width: 350px;
    width: 100%;
    background-color: rgb(129, 166, 180);
}

nav ul{
    list-style-type: none;
    padding: 0;
}

nav ul li{
    border-bottom: 1px solid var(--cor-secundaria)
}

nav ul li a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
    display: block;
    background-color: var(--cor-principal);
    transition: background .300s;
    text-transform: uppercase;
}

nav ul li a:hover{
    background-color: var(--cor-secundaria);
    color: rgba(226, 230, 235, 0.589);
}

footer{
    padding-top: 5px;
    text-align: center;
    background-color: cornflowerblue;
    height: 30px;
}
