form{
    background-color: rgb(172, 215, 216);
    padding: 05px;
    border-radius: 10px;
}

form fieldset{
    border-radius: 10px;

}

form label{
    font-weight: bold;
}

form legend{
    font-size: large;
}

form button{
    font-weight: 700;
}

.btn_Salvar_Registro{
    margin-top: 10px;
    background-color: rgb(171, 186, 187);
    cursor: pointer;
}

.btn_Salvar_Registro:hover{
    background-color: rgb(90, 101, 165);
    transition: 0.2s;
}