/* Abaixo segue como zerar margin. paddin*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header{
    text-align: center;
} */

.colabo:hover{
    background-color: cadetblue;
    cursor: pointer;
    color: white;
    transition: 0.3s;
}

.colabo {
    padding: 3px;
}

button{
    border-radius: 5px;
    border-color: white;
}

#login_apa_desa, #senha_apa_desa, #btn_apa_desa{
    text-align: left;
    display: none /* Deixar invisível */
}

fieldset{
    padding-left: 1px;
    display: block;
}

label{
    margin-right: 5px;
    margin-left: 5px;
    height: 22px;    
}

input{
    margin-bottom: 10px;
    margin-top: 3px;
    margin-right: 5px;
    width: 300px;
    border: 1px solid grey;
    height: 22px;
}

.btnFazerlogin{
    margin-bottom: 10px;
    margin-top: 5px;
    margin-right: 5px;
    width: 100px;
    height: 24px;
    background-color: rgb(174, 191, 236);
    padding-bottom: 25px;
}

footer{
    padding-top: 5px;
    text-align: center;
    background-color: cornflowerblue;
    height: 30px;
}